.myblog-text-contain{
background-color: rgb(255, 255, 255);
margin-bottom: 8px;
width:80%;
padding: 4%;
}
.cdiv{
    margin-bottom: 25%;
    position: relative;
    cursor: pointer;
}
.cdiv .myblog-text-contain{
    position: absolute;
     top: 70%;
}
.cdiv1 .myblog-text-contain{
    position: absolute;
     top: 90%;
}