@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,100;1,200;1,300;1,700;1,800&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family:"Montserrat", sans-serif ;
}

/* 

Navbar css

*/


 ul{
  list-style: none;
  color: black;
}
.nav{
  -webkit-box-shadow: 1px 7px 5px 0px rgba(232,227,232,1);
  -moz-box-shadow: 1px 7px 5px 0px rgba(232,227,232,1);
  box-shadow: 1px 7px 5px 0px rgba(232,227,232,1);
}
.nav .css-i4bv87-MuiSvgIcon-root{
  color: black !important;
  cursor: pointer !important;
}
.nav ul li a:link{
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.nav ul li a:hover{
    border-bottom: 3px solid rgb(202,21,21);   
    color: blue;
}


.section-one .part-one img{
  width: 100%;
  padding-top: 1;
}
.section-one .part-two{
  flex-wrap: wrap;
}

.section-one .part-two img{
  width: 100%;
}

.section-two{
  width: 80%;
  margin: auto;
}
.section-two .custom-h3{
  border-bottom: 3px solid rgb(202,21,21);
  margin-right: 10px;   
}

.section-two ul li a:link{
  text-decoration: none;
}
.section-two ul li a:hover{
  border-bottom: 3px solid rgb(202,21,21);
}

.product-card{
  height: 28rem;
  padding: 1rem;
  cursor: pointer;
}
.product-card .product-img{
  height: 80%;
  overflow: hidden;
}
.product-card .product-img img{
  width: 100%;
  height: 100%;
}
.product-card .product-img .moving-div{
  width: 70%;
  height: 3rem;
  transition: 1s;
  bottom: -14%;
  left: 15%;
}
.product-card:hover .moving-div{
      bottom: 10%;
     transition: 1s;
}

.section-three{
  border: 1px solid transparent;
  height: 25rem;
  background-size: contain;
  background-image: url("./img/banner/banner-1.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}
.section-three .section-three-slider{
 border: 1px solid;
  margin-top: 8%;
}

.section-four span{
    font-size: 2rem;
    border-bottom: 3px solid rgb(202,21,21);
}
.small-product-card{
  height: 7rem;
  width: 20rem;
}
.small-product-card img{
    width: 50%;
}
.small-product-card span{
  font-size: 1rem;
  border: none;

}

.section-five img {
  width: 100%;
}
.section-five .summer-sale{
   background-color: rgb(244,244,244);
   position: relative;
}
.section-five .summer-sale .circle{
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  position: absolute;
  left: 35%;
  top: 20%;
  background-color: white;
}
.section-six .ccard div{
      height:5rem;
      width: fit-content;
}

.product-slider{
  width: fit-content;
  height: fit-content;
  width: 30%;
}
.product-slider.carousel-status{
  display: none !important;
}
.product-slider .slide >img{
   height: 60vh !important;
}

.product-details-cart{
  height: 3rem;
}
.product-details-cart .one{
  width: 20%;
}
.product-details-cart .two{
  width: 20%;
  border-radius: 1.5rem 1.5rem;
  border: 1px solid rgb(193, 191, 191);
}
.product-details-cart .two span{
  padding: .5rem;
}
.product-details-cart .two button{
  background-color: white;
  margin: .5rem;
  border: none;
}
.product-details-cart .three{
  width: 25%;
  cursor: pointer;
  color: white;
  background-color: rgb(202,21,21);
  border-radius: 1.5rem  1.5rem ;
}
.product-details-cart .four,.five{
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
}
 .product-spec .product-color >input{
   width: 2rem !important;
   height: 1rem;
   cursor: pointer;
}
.product-review .product-review-head span{
      cursor: pointer;
}
.product-review .product-review-head span:hover{
  color: red;

}

.cart{
    width: 80%;
    margin: auto;
}
 .cart .two{
  width: max-content;
  margin: auto;
  justify-content: center;
  border-radius: 1.5rem 1.5rem;
  border: 1px solid rgb(193, 191, 191);
}
.cart .two span{
  padding: .5rem;
}
.cart .two button{
  background-color: white;
  margin: .5rem;
  border: none;
}
.cart h5{
  padding: 1rem;
}
.cart img{
  width: 20%;
}

.cart .continue-shopping , .update-cart{
  background-color: rgb(245,245,245);
  padding: 1rem;
  width: max-content;
  border-radius: .5rem;
}
.cart .bill{
  width: 30%;
  border-radius: .5rem;
  background-color: rgb(245,245,245);
  height: 40vh;
}

.cart .checkout-btn{
  background-color: rgb(202,21,21);
  color: white;
  border-radius: .8rem;
  cursor: pointer;
}
/* footer css */
*{
    text-align:justify;
}
.Footer-image{
    display: flex;
    flex-wrap: wrap;
}
.Footer-image img{
    width: 20%;
}
.Footer-image img:hover{
    opacity: 0.1;
}
p{
    color: rgb(81, 80, 80);
}
a{
    text-decoration: none;
    color: rgb(81, 80, 80);
}  
.hover-item{
    display: none;
}

.hover-item:hover{
    display:block;
}
.ICONS svg{
    background-color: rgb(214, 216, 217);
    margin: 9px;
    padding: 8px;
    font-size:40px;
    cursor: pointer;
    border-radius: 50%;

}
/********* blog css ***/

.myblog-text-contain{
background-color: rgb(255, 255, 255);
margin-bottom: 8px;
width:80%;
padding: 4%;
}
.cdiv{
    margin-bottom: 25%;
    position: relative;
    cursor: pointer;
}
.cdiv .myblog-text-contain{
    position: absolute;
     top: 70%;
}
.cdiv1 .myblog-text-contain{
    position: absolute;
     top: 90%;
}

.ccard .css-i4bv87-MuiSvgIcon-root{
  font-size: 3.5rem !important;
  color: rgb(202,21,21);
}

.moving-div > .circle{
  background-color: white;
  border-radius: 50%;
  width:fit-content;
  text-align: center;
  height: 100%;
  padding: .6rem;
}
.moving-div > .circle:hover{
  transform: rotate(360deg) !important;
  transition: .3s;
  background-color: red;
  color: white;
}
.moving-div > .circle .css-i4bv87-MuiSvgIcon-root{
  font-size: 1.7rem !important;
  cursor: pointer;
}