

/* 

Navbar css

*/

 ul{
  list-style: none;
  color: black;
}
.nav{
  -webkit-box-shadow: 1px 7px 5px 0px rgba(232,227,232,1);
  -moz-box-shadow: 1px 7px 5px 0px rgba(232,227,232,1);
  box-shadow: 1px 7px 5px 0px rgba(232,227,232,1);
}
.nav ul li a:link{
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.nav ul li a:hover{
    border-bottom: 3px solid rgb(202,21,21);   
    color: blue;
}


.section-one .part-one img{
  width: 100%;
  padding-top: 1;
}
.section-one .part-two{
  flex-wrap: wrap;
}

.section-one .part-two img{
  width: 100%;
}

.section-two{
  width: 80%;
  margin: auto;
}
.section-two .custom-h3{
  border-bottom: 3px solid rgb(202,21,21);
  margin-right: 10px;   
}

.section-two ul li a:link{
  text-decoration: none;
}
.section-two ul li a:hover{
  border-bottom: 3px solid rgb(202,21,21);
}

.product-card{
  height: 28rem;
  cursor: pointer;
}
.product-card .product-img{
  height: 80%;
  overflow: hidden;
}
.product-card .product-img img{
  width: 100%;
  height: 100%;
}
.product-card .product-img .moving-div{
  width: 100%;
  height: 2rem;
  border: 2px solid blue;
  transition: 1s;
  bottom: -10%;
}
.product-card:hover .moving-div{
      bottom: 10%;
     transition: 1s;
}

.section-three{
  border: 1px solid transparent;
  height: 25rem;
  background-size: contain;
  background-image: url("./img/banner/banner-1.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}
.section-three .section-three-slider{
 border: 1px solid;
  margin-top: 8%;
}

.section-four span{
    font-size: 2rem;
    border-bottom: 3px solid rgb(202,21,21);
}
.small-product-card{
  height: 7rem;
  width: 20rem;
}
.small-product-card img{
    width: 50%;
}
.small-product-card span{
  font-size: 1rem;
  border: none;

}

.section-five img {
  width: 100%;
}
.section-five .summer-sale{
   background-color: rgb(244,244,244);
   position: relative;
}
.section-five .summer-sale .circle{
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  position: absolute;
  left: 35%;
  top: 20%;
  background-color: white;
}
.section-six .ccard div{
      height: 4rem;
}

.product-slider{
  width: fit-content;
  height: fit-content;
  width: 30%;
}
.product-slider.carousel-status{
  display: none !important;
}
.product-slider .slide >img{
   height: 60vh !important;
}

.product-details-cart{
  height: 3rem;
}
.product-details-cart .one{
  width: 20%;
}
.product-details-cart .two{
  width: 20%;
  border-radius: 1.5rem 1.5rem;
  border: 1px solid rgb(193, 191, 191);
}
.product-details-cart .two span{
  padding: .5rem;
}
.product-details-cart .two button{
  background-color: white;
  margin: .5rem;
  border: none;
}
.product-details-cart .three{
  width: 25%;
  cursor: pointer;
  color: white;
  background-color: rgb(202,21,21);
  border-radius: 1.5rem  1.5rem ;
}
.product-details-cart .four,.five{
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
}